<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update d'un catway</title>
</head>
<body>
    <h1>Update d'un catway</h1>
    <form method="post" action="/catways/">

        <label for="catwayNumber">Numéro de pont</label>
        <input type="number" name="catwayNumber" value="">

        <label for="type">Type</label>
        <input type="text" name="type" value="">
        
        <label for="catwayState">Description de l’état du catway</label>
        <input type="text" name="catwayState" value="">

        <input type="submit" value="submit">

    </form>
    
</body>
</html>