<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des réservations</title>
</head>
<body>
    <div>
        <h1>Liste des réservations</h1>
    </div>
    <div>
        <table style="border: 1px solid black" >
            <thead>
                <tr>
                    <th style="border: 1px solid black">Numéro de pont</th>
                    <th style="border: 1px solid black">Nom du client</th>
                    <th style="border: 1px solid black">Nom du bateau amarré</th>
                    <th style="border: 1px solid black">Date de début de réservation</th>
                    <th style="border: 1px solid black">Date de fin de réservation</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>
    
</body>
</html>
